.todo {
  background: $color-tertiary;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 10px $shadow-color;
  display: flex;
  align-items: center;
  position: relative;

  .undo-icon,
  .delete-icon {
    vertical-align: middle;
    margin-right: 1rem;
    cursor: pointer;
  }

  .delete-icon {
    position: absolute;
    right: 0;
  }

  input {
    margin-right: 1rem;
    cursor: pointer;
  }

  .incomplete-label {
    letter-spacing: 0.02rem;
    color: $text-color;
    cursor: pointer;
  }
}
